{% extends 'base.html' %}

{% load i18n %}

{% block title %}Findabl{% endblock %}

{% block content %}
		<div class="row main-cover primary">
			<div class="col browse">
				<p>{% translate 'Choose where to dine next based on your preferences' %}</p>
				<a href="{% url 'places:filter_search' %}" class="btn secondary">{% translate 'Browse' %}</a>
			</div>
			<div class="col search">
				<p>{% translate "Type in the name or address of a place to learn about it" %}</p>
				{% include "places/search_form.html" %}
			</div>
		</div>
		<h2><strong>{% translate "A comfortable place for everyone" %}</strong></h2>
		<p>{% translate 'Get information about the suitability of eating places with the criteria chosen based on extensive research.' %}</p>
			<div class="col features" name="features">
				<section>
					<h3>{% translate 'Reliable opinions' %}</h3>
					<p>{% translate 'Review process is moderated and contributors are carefully selected to avoid misleading or biased reviews.' %} <a href="{% url 'users:contribution' %}">{% translate 'Learn more about how you can contribute.' %}</a></p>
				</section>
				<section>
					<h3>{% translate 'Accessible and efficient design' %}</h3>
					<p>{% translate 'The website is intended to meet the WCAG2.0 accessibility criteria and be comfortably used by anyone. An approach focused on simplicity and efficiency allows to quickly get needed information without distraction or frustration.' %} <a href="https://www.w3.org/WAI/standards-guidelines/wcag/glance/">{% translate 'Learn about WCAG2.0.' %}</a></p>
				</section>
				<section>
					<h3>{% translate 'A solution to a widespread issue' %}</h3>
					<p>{% translate 'Neurodivergence affects more than ? 50% of people. They are sensitive to ?stimuli to a various degree, which makes many of seemingly high-quality catering establishments unsuitable to them. Most web services providing recommendations do not mention what might be crucial for a pleasing experience. Here, we concentrate on carefully picked criteria to fill this substantial gap.' %} <a href="{% url 'places:about' %}#research">{% translate 'Relevant research' %}.</a></p>
				</section>
			</div>
{% endblock %}